.esconder {
  display: none;
}
.mostrar{
   display: block;
}

p{
font-family:'Lancelot', cursive;
text-align: center;
height:400px;
margin:300;
display:block
}

nav{
  float:right;
}

#item,#inicio{
  list-style: none;
  margin-left: 70px;
  padding: 25px 0;
  float:left;
}
nav ul li a{
  text-decoration:none;
  font-weight: bold;
}
 .desple{
  display:none;
}
.mostrar{
  display: block;
}

.imaprimera{
 height:400px;
 display:block;
 margin:auto;
}
.imalogo{
 width:100px;
 height:100px;
 margin-left:0px;
 margin-top: 1px;
 padding: 10px;
}
.titulo{
 height:100px;
 display:block;
 margin:auto;
}
.segundapagina{
  display: none;
}

.segundapagina.mostrar {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1rem;
  justify-content: space-around;
}

.segundapagina > img {
  box-shadow: 0px 10px 20px -10px black;
}
.titulopeliculas{
color:black;
width:90%;
max-width:1024px;
margin:auto;
}
.puntaje{
  color: brown;
}
.titulopeli,.calificacion,.sinopsis,.director,.productor,.lanzamiento{
 height:100px;
 margin:auto;
}
.bt_menu{
  color: brown;
}